.adoption-bg {
  background-image: url('/img/adoption_shop_bg.jpg');
  background-size: cover;
  background-position: center;
}

.section-icon {
  animation: 1.5s shake infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
 
}